.root {

}

.scroll-bar:vertical .thumb {
    -fx-background-color: #9E9E9E;
}

.scroll-bar:vertical .track {

}

.button {
    /*-fx-border-radius: 0;*/
    -fx-background-radius: 0;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #C0C0C0;
    /*-fx-background-size: 1px;*/
    -fx-font-size: 2px;
    /*-fx-padding: 0 0 0 0;*/
}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
}

#folderScrollPane {
    /*-fx-border-style: none;*/
    -fx-border-width: 3px;
}

#foldersVBox {
    /*-fx-border-style: none;*/
    -fx-border-width: 3px;
}
